<div class = "my-pages">
<% @recipes.each do |recipe| %>
<div class = "container-fluid my-con">
  <h2><%= link_to recipe.name, "/recipes/show/#{recipe.id}", :class => "my-link" %></h2>
  <h4>Created <%= time_ago_in_words(recipe.created_at) %> ago by <span class = "grey"><%= recipe.creator %></span></h4>
  <h4><span>Preptime:</span> <%= recipe.preptime %> minutes</h4>
  <h4><span>Cooktime:</span> <%= recipe.cooktime %> minutes</h4>
</div>
<% end %>

<%= link_to "New Recipe", "/recipes/new", :class => "my-link"  %>

<%= link_to "New Ingredient", "/ingredients/new", :class => "my-link"  %>
</div>
