<div class="form-wrapper">
  <%= form_for @recipe, url: {action: obj} do |f| %>
    <div class="form-field">
      <%= f.label :name, "Name:" %>
      <%= f.text_field :name %>
    </div>

    <div class="form-field">
      <%= f.label :directions, "Directions:" %>
      <%= f.text_field :directions %>
    </div>

    <div class="form-field">
      <%= f.label :cooktime, "Cook Time:" %>
      <%= f.text_field :cooktime %>
    </div>
    <div class="form-field">
      <%= f.label :creator, "Creator:" %>
      <%= f.text_field :creator %>
    </div>

    <div class="form-field">
      <%= f.label :cooktemp, "Cook Temp:" %>
      <%= f.text_field :cooktemp %>
    </div>

    <div class="form-field">
      <%= f.label :preptime, "Prep Time:" %>
      <%= f.text_field :preptime %>

    </div>

    <div class="submit-button">
      <%= f.submit %>
    </div>

  <% end %>
</div>
<div class="recipe_ingredient-wrapper">
  <% if @recipe.save %>
  <a name="recipe_ingredient"></a>
    <h2 class="page-title">Your recipe_ingredients</h2>
    <div class="form-wrapper">
      <div class="current-recipe_ingredient-wrapper">
        <h3>Current recipe_ingredients:</h3>
          <% if @recipe.recipe_ingredients.size > 0 %>
            <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
              <div class="recipe_ingredient-wrapper">
                <%= label_tag(recipe_ingredient.name) %>
                <div class="recipe_ingredient-div">
                  <%= button_to "-", delete_recipe_ingredient_path(@recipe.id, recipe_ingredient_id: recipe_ingredient.id), class: "recipe_ingredient-button", method: :delete %>
                </div>
              </div>
            <% end %>
          <% else %>
            <p>No recipe_ingredients Added</p>
          <% end %>
      </div>

      <div class="add-recipe_ingredient-wrapper">
        <h3>Add recipe_ingredient:</h3>
          <% if @recipe_ingredients.size > 0 %>
            <% @recipe_ingredients.each do |recipe_ingredient| %>
              <div class="recipe_ingredient-wrapper">
                <%= label_tag(recipe_ingredient.name) %>
                <div class="recipe_ingredient-div">
                  <%= button_to "+", create_recipe_ingredient_path(@recipe.id, recipe_ingredient_id: recipe_ingredient.id), class: "recipe_ingredient-button", method: :post %>
                </div>
              </div>
            <% end %>
          <% else %>
            <p>No More recipe_ingredients Available</p>
          <% end %>
      </div>

      <div class="add-new-recipe_ingredient-wrapper">
        <%= link_to "Create New recipe_ingredient", new_recipe_ingredient_path, { class: "button-link" } %>
      </div>
    </div>
  <% end %>
</div>
