<div class="form-wrapper">
  <%= form_for @recipe, url: {action: obj} do |f| %>
    <div class="form-field">
      <%= f.label :name, "Name:" %>
      <%= f.text_field :name %>
    </div>

    <div class="form-field">
      <%= f.label :directions, "Directions:" %>
      <%= f.text_field :directions %>
    </div>

    <div class="form-field">
      <%= f.label :cooktime, "Cook Time:" %>
      <%= f.text_field :cooktime %>
    </div>
    <div class="form-field">
      <%= f.label :creator, "Creator:" %>
      <%= f.text_field :creator %>
    </div>

    <div class="form-field">
      <%= f.label :cooktemp, "Cook Temp:" %>
      <%= f.text_field :cooktemp %>
    </div>

    <div class="form-field">
      <%= f.label :preptime, "Prep Time:" %>
      <%= f.text_field :preptime %>

    </div>


    <div class="submit-button">
      <%= f.submit %>
    </div>

  <% end %>
</div>

  <% if @recipe.save %>
  <a name="recipe_ingredient"></a>
    <h2 class="page-title">Ingredients</h2>
    <div class="form-wrapper">
        <h3>Current recipe_ingredients:</h3>
          <% if @recipe.recipe_ingredients.size > 0 %>
              <% @recipe.recipe_ingredients.each do |ingredient| %>
                  <%= label_tag(ingredient.name) %>
                  <%= button_to "-", action: delete_recipe_ingredient_path(@recipe.id, ingredient_id: ingredient.id), method: :destroy %>
              <% end %>
          <% else %>
            <p>No Ingredients Added</p>
          <% end %>
      </div>

        <h3>Add Ingredient:</h3>
          <% if @recipe_ingredients.size > 0 %>
            <% @recipe_ingredients.each do |recipe_ingredient| %>
                <%= label_tag(recipe_ingredient.name) %>
                <%= button_to "+", make_recipe_ingredient_path(@recipe.id, recipe_ingredient_id: recipe_ingredient.id), method: :post %>
            <% end %>
          <% else %>
            <p>No more ingredients available</p>
          <% end %>


        <%= link_to "Create New Ingredient", new_ingredient_path, { class: "my-link" } %>
  <% end %>
</div>
